.auth {
  padding: 20px;
}
.at-button--primary {
  background: #38994B !important;
  border:1PX solid #38994B !important;
}
.startBtn {
  border-radius: 50px !important;
}
.absoluteBottom {
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
}
.mt20{
  margin-top: 20px;
}
.mt100{
  margin-top: 100px;
}
.wd100 {
  width: 100%;
}
.ruleText {
  color: #D42828;
}

